.Timer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-align: center;
}

.Timer-solve-summary {
  font-size: 0.35em;
  opacity: 0.5;
  margin-top: 10px;
}

.Timer-display {
  font-size: 3em;
}

.Timer-display-preparing {
  color: green;
}
