.Timer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.Timer-display {
  font-size: 3em;
}

.Timer-swap {
  position: fixed;
  bottom: 35px;
  right: 40px;
}
